/* Font - Light */
@font-face {
	font-family: 'HelveticaNeueLTStd-Cn';
	src: url('../fonts/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Cn.otf') format('opentype'), url('../fonts/HelveticaNeueLTStd-Cn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Cn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Font - Medium */
@font-face {
	font-family: 'HelveticaNeueLTStd-Md';
	src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Md.otf') format('opentype'), url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Font - Bold */
@font-face {
	font-family: 'HelveticaNeueLTStd-Blk';
	src: url('../fonts/HelveticaNeueLTStd-Blk.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Blk.otf') format('opentype'), url('../fonts/HelveticaNeueLTStd-Blk.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Blk.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'HelveticaNeueLTStd-Md';
	background-color: #ffffff;
}
/* Standard css starts here */

a, a:link, a:visited, a:active, a:hover, button {
	text-decoration: none;
	outline: none;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.heading h1 {
	font-size: 48px;
	font-family: 'HelveticaNeueLTStd-Blk';
}
.heading h2 {
	color: #45474d;
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 28px;
	text-align: center;
}
.heading h3 {
	color: #7f7f7f;
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 42px;
	text-align: center;
}

.heading h4 {
	color:#0d1172;
	font-size:24px;
	font-family: 'HelveticaNeueLTStd-Md';
}
.heading h5 {
	color: #7f7f7f;
	font-family: 'HelveticaNeueLTStd-Md';
	font-size: 40px;
	text-align: center;
	text-transform:uppercase;
}
.slantdiv1 {
	content: '';
	position: absolute;
	left: 0;
	bottom: -40px;
	overflow: visible;
	width: 100%;
	height: 70px;
	background: #fff;
	z-index: 1;
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	-o-transform: skewY(-2deg);
	transform: skewY(-2deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}
.slantdiv2 {
	content: '';
	position: absolute;
	left: 0;
	bottom: -40px;
	overflow: visible;
	width: 100%;
	height: 70px;
	background: #fff;
	z-index: 1;
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	-o-transform: skewY(-2deg);
	transform: skewY(-2deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}
.slantdiv3 {
	content: '';
	position: absolute;
	left: 0;
	bottom: -40px;
	overflow: visible;
	width: 100%;
	height: 70px;
	background: #fff;
	z-index: 1;
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	-o-transform: skewY(-2deg);
	transform: skewY(-2deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}
.slantdiv4 {
	content: '';
	position: absolute;
	left: 0;
	bottom: -40px;
	overflow: visible;
	width: 100%;
	height: 70px;
	background: #fafafa;
	z-index: 1;
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	-o-transform: skewY(-2deg);
	transform: skewY(-2deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}
.formdiv .tbox {
	border-radius: 0px;
	border: 1px solid #7f7f7f;
	box-shadow: none;
	background-color: #fff;
}
.formdiv .tbox:focus {
	border-color: #0d1172;
	background-color: #e1e1e1;
}
.sbtn {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 6px 15px;
	border-radius: 3px;
	background-color: #0d1172;
	border: none;
}
.sbtn:hover, .sbtn:focus {
	background-color: #000052;
	color: #fff;
}

.banner-wrap {
	position: relative;
}

.banner-wrap img {
	width: 100%;
}

.banner-wrap .heading {
	position: absolute;
	left: 0;
	right: 0;
	top: 40%;
}

.banner-wrap .heading h1 {
	text-align: center;
	color:#fff;
}
/* Standard css ends here */
header {
	background-color: #ffffff;
	border-bottom: 1px solid #000;
	padding-top: 11px;
	padding-bottom: 11px;
}
.fix-header {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 111;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.20);
}
.logo {
	margin-top: 5px;
}
.logo a {
	display: table;
}
.menubar {
	background: none;
	border: none;
	margin-bottom: 0px;
	margin-top: 13px;
}
.menubar .mbar {
	padding: 0;
}
.menubar .mbar .navbar-collapse {
	padding-left: 0;
}
.menubar .menulinks1 > li > a {
	color: #7f7f7f;
	text-transform: uppercase;
	font-size: 14px;
}
.menubar .menulinks1 > li > a:hover, .menubar .menulinks1 > li > a:focus {
	color: #0d1172;
	background: none;
}
.menubar .menulinks1 > .open > a, .menubar .menulinks1 > .open > a:hover, .menubar .menulinks1 > .open > a:focus {
	color: #0d1172;
	background: none;
}
.menubar .menulinks1 .dmenu {
	padding: 0;
	border-color: #e9e9e9;
	top: 70px;
	left: 50%;
	right: auto;
	text-align: center;
	transform: translate(-50%, 0);
}
.menubar .menulinks1 .dmenu::before {
	content: "\f0d8";
	font-family: 'FontAwesome';
	top: -14px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 15px;
	color: #0d1172;
}
.menubar .menulinks1 .dmenu > li > a {
	color: #888888;
 text-transform;
	font-size: 12px;
	border-bottom: 1px solid #e9e9e9;
	padding: 9px 10px;
}
.menubar .menulinks1 .dmenu > li > a:hover, .menubar .menulinks1 .dmenu > li > a:focus {
	color: #0d1172;
}
.menubar .menulinks2 {
	margin-top: 10px;
}
.menubar .menulinks2 > li > a {
	color: #0d1172;
	text-transform: uppercase;
	font-size: 14px;
	padding: 6px 15px;
	margin-left: 10px;
	border-radius: 3px;
}
.menubar .menulinks2 > li > a:hover, .menubar .menulinks2 > li > a:focus {
	color: #fff;
	background-color: #0d1172;
}
.resp-btn {
	background-color: #666;
	margin-right: 0px;
}
.resp-btn .icon-bar {
	background-color: #FFF;
}
homeCarousel {
	position: relative;
}
#homeCarousel .item .simg {
	width: 100%;
}
#homeCarousel .carousel-caption {
	top: 15%;
	left: 0;
	text-align: left;
	width: 1140px;
	margin: 0 auto;
	right: 0;
	text-shadow: none;
}
#homeCarousel .carousel-caption p {
	color: #ffffff;
	font-size: 28px;
	margin: 20px 0;
}
#homeCarousel .carousel-caption .clist {
	margin-top: 20px;
}
#homeCarousel .carousel-caption .clist > li {
	position: relative;
	padding-left: 17px;
	color: #fff;
	display: block;
	font-size: 22px;
	font-family: 'HelveticaNeueLTStd-Cn';
	margin-bottom: 10px;
}
#homeCarousel .carousel-caption .clist > li::before {
	content: "\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	left: 0px;
	font-size: 16px;
	position: absolute;
	top: 5px;
	color: #0d1172;
}
.morelinksbbox {
	margin-top: 50px;
}
.morelinksbbox > a {
	background-color: #fff;
	padding: 13px 15px;
	color: #0d1172;
	font-size: 17px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 15px;
}
.morelinksbbox > a i {
	margin-right: 5px;
}
.morelinksbbox > a:hover, .morelinksbbox > a:focus {
	background-color: #0d1172;
	color: #fff;
}
#homeCarousel .carousel-indicators {
	right: 0;
	left: 0;
	width: auto;
	bottom: 20%;
	margin: auto;
}
#homeCarousel .carousel-indicators li {
	border-radius: 0px;
	border-color: #fff;
	background: none;
}
#homeCarousel .carousel-indicators .active {
	background-color: #fff;
	border-color: #fff;
	width: 10px;
	height: 10px;
	margin: 1px;
}
.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	opacity: 0;
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
	z-index: 2;
}
.messages_wrap {
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
}
.msgbox {
	position: relative;
	transform: scale(1);
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.msg_desc {
	position: absolute;
	top: 20%;
	padding: 15px 55px;
}
.msgbox .msg_img img {
	width: 100%;
}
.msg_desc .mtitle {
	color: #fff;
	font-size: 28px;
	font-family: 'HelveticaNeueLTStd-Cn';
	margin-bottom: 10px;
}
.msg_desc p {
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}
.messages_wrap .left_side, .messages_wrap .right_side {
	padding-left: 1px;
	padding-right: 1px;
}
.messages_wrap .btleft {
	padding-right: 1px;
}
.messages_wrap .btright {
	padding-left: 1px;
	padding-right: 1px;
}
.messages_wrap .left_side .msgbox {
	margin-top: 50px;
}
.messages_wrap .right_side .bttop {
	margin-bottom: 2px;
}
.msgbox:hover {
	transform: scale(1.2);
	position: relative;
	z-index: 1;
	box-shadow: 0 0 10px #f1f1f1;
}
.public_msg_wrap {
	padding-top: 140px;
	padding-bottom: 140px;
	position: relative;
	background-color: #fafafa;
}
.introheading {
	margin-bottom: 50px;
}
.introheading .heading {
	margin-bottom: 15px;
}
.introheading p {
	text-align: center;
	color: #7f7f7f;
}
.pmsgbox {
	position: relative;
}
.pmsg_overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	color: #fff;
	text-align: center;
}
.pmsg_overlay a {
	position: relative;
	top: 45%;
	font-size: 16px;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
}
.pmsg_overlay a:hover, .pmsg_overlay a:focus {
	color: #0d1172;
	background-color: #fff
}
.morestorydiv {
	text-align: center;
	padding: 30px 0 0 0;
}
.morestorydiv .morestory {
	color: #fff;
	background-color: #0d1172;
	text-transform: uppercase;
	font-size: 14px;
	padding: 6px 15px;
	border-radius: 3px;
}
.morestorydiv .morestory:hover, .morestorydiv .morestory:focus {
	background-color: #000052;
	color: #fff;
}
.home_invite_wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	background-color: #fff;
}
.home_invite_box p {
	text-align: center;
	color: #7f7f7f;
	font-size: 28px;
	margin: 10px 0;
}
.home_invite_box .hinvite {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 6px 15px;
	border-radius: 3px;
	background-color: #0d1172;
	display: table;
	margin: 30px auto 0 auto;
}
.home_invite_box .hinvite:hover, .home_invite_box .hinvite:focus {
	background-color: #000052;
	color: #fff;
}
.testmsg_wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	background-color: #fafafa;
}
.testmsg_wrap .testmsg_box {
	padding-top: 77px;
	padding-bottom: 77px;
}
.testmsg_wrap .testmsg_box .per_msg {
	color: #7f7f7f;
	font-size: 24px;
	text-align: center;
	font-family: 'HelveticaNeueLTStd-Cn';
}
.test_per_cntdtls {
	margin-top: 20px;
}
.test_per_cntdtls p {
	color: #7f7f7f;
	font-size: 24px;
	text-align: center;
}
.getstarted_wrap {
	padding-top: 50px;
	padding-bottom: 70px;
	position: relative;
	background-color: #fff;
}
.get_start_box {
	margin-top: 50px;
}
.invitebtndiv {
	text-align: center;
	margin-top: 15px;
}
footer {
	background-color: #edeae6;
	padding-top: 40px;
	padding-bottom: 20px;
}
.fbox {
	display: table;
	margin: auto;
}
.fbox .ftitle {
	font-size: 45px;
	color: #888888;
	float: left;
	margin-right: 25px;
}
.fbox .socialist {
	float: left;
	margin-bottom: 0;
}
.socialist > li > a {
	width: 66px;
	height: 66px;
	background-color: #fff;
	line-height: 66px;
	display: block;
	text-align: center;
	color: #0d1172;
	font-size: 30px;
	border-radius: 50%;
}
.socialist > li > a:hover, .socialist > li > a:focus {
	color: #fff;
	background-color: #0d1172;
}
.footerlnks_wrap {
	background-color: #edeae6;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #d7d6d1;
}
.footerlinks {
	text-align: center;
}
.flinks {
	margin-bottom: 0;
}
.flinks > li > a {
	color: #7f7f7f;
	font-size: 14px;
	font-family: 'HelveticaNeueLTStd-Cn';
}
.flinks > li > a:hover, .flinks > li > a:focus {
	color: #0d1172;
}
.copywrap {
	font-family: 'HelveticaNeueLTStd-Cn';
	background-color: #d7d6d1;
	padding-top: 10px;
	padding-bottom: 10px;
}
.copydiv p {
	color: #1a1a1a;
}
.cplinks {
	margin-bottom: 0;
	text-align: right;
}
.cplinks > li > a {
	color: #1a1a1a;
	font-size: 14px;
	font-family: 'HelveticaNeueLTStd-Cn';
}
.cplinks > li > a:hover, .cplinks > li > a:focus {
	color: #0d1172;
}
.cplinks > li:first-child {
	border-right: 1px solid #1a1a1a;
	padding-right: 10px;
}
.back_to_top_wrap {
	position: fixed;
	bottom: 50px;
	right: 15px;
	display: none;
	z-index: 3;
}
.back_to_top {
	width: 40px;
	height: 40px;
	background-color: #0d1172;
	line-height: 40px;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
}
.back_to_top:hover, .back_to_top:focus {
	background-color: #000052;
	color: #fff;
}


.about_wrap {
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
}



.abt_box {
	text-align: center;
	border: 1px solid #7f7f7f;
	padding: 17px 15px;
	
	background-color:#fafafa;
}


.abt_box .heading
{
	margin-bottom:10px;
}
.abt_box p
{
	font-size:18px;
	color:#7f7f7f;
	line-height:30px;	
}

.whyus_wrap {
	padding-top: 140px;
	padding-bottom: 70px;
	position: relative;
	background-color: #fafafa;
}
.whyus_wrap .heading h5
{
	margin-bottom:65px;
}

.whybox
{
	position:relative;
	border: 1px solid #7f7f7f;	
	padding: 17px 15px;	
	text-align:center;
	background-color:#ffffff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#000000)";/*IE 8*/
-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);/*FF 3.5+*/
-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 5px 5px 5px rgba(0,0,0,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.whybox p {
	font-size: 18px;
	color: #7f7f7f;
	line-height: 30px;
	margin-top: 10px;
}

.whybox {
	position: relative;
	border: 1px solid #7f7f7f;
	padding: 60px 15px 17px 15px;
	text-align: center;
	background-color: #ffffff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#000000)";
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#000000);
}


.why_icon_div {
	height: 78px;
	width: 78px;
	background-color: #7f7f7f;
	position: absolute;
	border-radius: 50%;
	top: -34px;
	margin: auto;
	left: 0;
	right: 0;
}
.why_icon_div img {
	margin: 15px auto;
	
}

.quote_wrap
{
	background-color:#0d1172;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

.quote_box
{
	margin-top:50px;
	color:#fff;
	font-size:38px;
	text-align:center;	
}

.custom_modal .modal-header
{
	border-bottom: none;
}

.modal-header .close {
	margin-top: -2px;
	color: #0d1172;
	opacity:1;
}

.modal_logodiv
{
	text-align:center;
	margin-bottom:15px;
}

.buttondiv
{
	text-align:center;
}


.buttondiv p
{
	margin-top:15px;
	color:#7f7f7f;
	font-size:16px;
}

.otherlinksdiv {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
}

.otherlinksdiv p
{
	font-size: 16px;
color: #7f7f7f;
margin-bottom:15px;
}

.otherlinksdiv a
{
	color:#0d1172
}
.otherlinksdiv a:hover, .otherlinksdiv a:focus
{
	color:#1a1a1a;
}


/* home page code starts here */

.home_header {
	background-color: #ffffff;	
	padding-top: 11px;
	padding-bottom: 11px;
}
.homelogo
{
	margin-top: 10px;
}

.homelogo a {
	display: table;
}
.home_menu_links {
	text-align: right;
	margin-top: 35px;	
}

.home_menu_links > li > a {
	color: #7f7f7f;
	text-transform: uppercase;
	font-size: 14px;
}

.home_menu_links > li > a:hover, .home_menu_links > li > a:focus, .home_menu_links > li.active > a  {
	color: #0d1172;
	background: none;
}


.profilemenu_box
{
	text-align:right;
	
}

.profilemenu_box .profile_pic
{
	float:right;
	margin-top:7px;
}


.profilemenu_box .pmenu_box
{
	float:right;
	margin-right:10px;
	min-width: 150px;
	margin-top: 15px;
}



.pmenu_box .profile_prgrs
{
	position:relative;
}
.pmenu_box .profile_prgrs .pvalue {
	position: absolute;
	left: -35px;
	top: -4px;
}

.pmenu_box .profile_prgrs .progress
{
	margin-bottom:5px;
	height:10px;
	position:relative;
}

.profile_pic img {
	border-radius: 50%;
	padding: 5px;
	border: 1px solid #888888;
}

.prof_menu_links
{
	float:none;
}
.prof_menu_links > li
{
	float:right;
}
.prof_menu_links > li > a {
	padding: 2px 5px;
	color: #1a1a1a;
}

.prof_menu_links > li > a:hover, .prof_menu_links > li > a:focus, .prof_menu_links > li.open > a, .prof_menu_links > li.open > a:hover, .prof_menu_links > li.open > a:focus
{
	background:none;
}


.pmenu_box .psmenu
{
	padding: 0;
	border-color: #e9e9e9;
	top: 23px;
	left: 50%;
	right: auto;
	text-align: center;
	transform: translate(-50%, 0);
}

.pmenu_box .psmenu::before {
	content: "\f0d8";
	font-family: 'FontAwesome';
	top: -14px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 15px;
	color: #0d1172;
}

.pmenu_box .psmenu > li > a {
	color: #888888;
 text-transform;
	font-size: 12px;
	border-bottom: 1px solid #e9e9e9;	
	padding:5px 10px;
}
.pmenu_box .psmenu > li > a:hover, .pmenu_box .psmenu > li > a:focus {
	color: #0d1172;
	
}
.pmenu_box .psmenu > li:last-child > a
{
	border-bottom:none;
}

.con_links > li > a {
	height: 20px;
	width: 20px;
	background-color: #0d1172;
	display: block;
	text-align: center;
	color: #fff;
	line-height:20px;
}
.home_wrap
{
	background-color:#FAFAFA;
	padding-top:40px;
	padding-bottom:40px;
}

.home_left
{
	margin-bottom:15px;
}

.home_left .heading h4
{
	margin-bottom:15px;
}

.pro_per_img {
	position: relative;	
	border: 1px solid #888888;
}


.msgstabbox
{
	position:absolute;
	width:100%;
	bottom:0;
}

.msgstabbox .mlist > li > a
{
	background-color: rgba(45, 49, 146, 0.9);
	border-radius: 0;
	color: #fff;
	border: none;
	font-size: 16px;
}

.msgstabbox .mlist > li > a .fa
{
	font-size: 20px;
}


.msgstabbox .mlist > li > a:hover, .msgstabbox .mlist > li > a:focus, .msgstabbox .mlist > li.active > a, .msgstabbox .mlist > li.active > a:hover, .msgstabbox .mlist > li.active > a:focus 
{
	background-color:#0d1172;
	color:#fff;
	border: none;
}
.msgstabbox .mlist > li > a span
{
	display:block;
}


/* home page code ends here */


.dashbaord_wrap
{
	background-color:#FAFAFA;
	padding-top:40px;
	padding-bottom:40px;
}

.proflist > li
{
	float:left;
	width:33.33%;
	padding:2px;
}

.proflist > li.profcmpt .uploadimg_div
{
	display:none;
}


.profbox
{
	position:relative;
	overflow:hidden;
	border: 1px solid #888888;
}
.prof_overlay_data {
	position: absolute;
	background-color: rgba(45, 49, 146, 0.9);
	width: 60%;
	height: 100%;
	top: 0;
	padding: 5px 10px;
	color: #fff;
	left: -100%;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}



.prof_overlay_data h3 {
	font-size: 18px;
	margin-bottom: 10px;
	border-bottom: 1px solid #fff;
	padding-bottom: 5px;
}
.profbox .prof_overlay_data p
{
	font-size:14px;
	margin-bottom:5px;
	font-family: 'HelveticaNeueLTStd-Cn';
}

.safenodiv {
	font-family: 'HelveticaNeueLTStd-Cn';
	font-size: 16px;
	border: 1px dashed #fff;
	padding: 2px 5px;
	margin-top: 20px;
}





.profnmdiv
{
	position:absolute;
	background:rgba(0,0,0,0.8);
	bottom:10px;
	right:10px;
	padding:5px;
	color:#fff;
	font-size: 18px;
	-moz-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	
}


.profbox:hover .prof_overlay_data
{
	left:0;
}


.profbox:hover .profnmdiv
{
	right:-100%;
}




.uploadimg_div
{
	position:absolute;
	top:10px;
	right:10px;
}
.profbox .updiv {
	display: inline;
	position: relative;
}


.profbox .fbtn {
	color: #0d1172;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:rgba(255,255,255,0.5);
	border: 1px solid #888888;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	font-size: 14px;
	font-family: 'HelveticaNeueLTStd-Cn';
	padding: 4px 8px;
}
.profbox .glyphicon {
	color: #0d1172;
}
.profbox .fuploadbtn {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	background-color: transparent;
	color: transparent;
	height:100%;
	width:100%;
	cursor: pointer;
}



.vlnk {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 5px 15px;
	border-radius: 3px;
	border:1px solid #fff;
	display: table;
	margin-top:10px;
}

.vlnk:hover, .vlnk:focus {
	color: #0d1172;
	background-color:#fff;
	display: table;
}


